# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log


venv
# SQLite
db.sqlite3

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Environment
.env
*.env

# Logs
logs/
*.log

# IDEs & Editors
.vscode/
.idea/
.DS_Store
*.sw?
*.suo
*.njsproj
*.sln
*.ntvs*

# Node (if using npm/React inside project)
node_modules/
dist/
build/
