.text-with-gradient {
    /* Create a gradient text effect */
    background: linear-gradient(#06b6d4, #6ee7b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  .gard-bg {
    background: linear-gradient(#06b6d4, #6ee7b7);
    border: none;
    color: white;
   
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.2s ease; 
}

.gard-bg:hover {
  opacity: 0.6;
}